<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Animal</h1>
    <form action="/animals/update/<%=animal._id%>" method="post">
      <p>Name: <input type="text" name="name" value="<%=animal.name%>"> </p>
      <p>Number of Legs: <input type="text" name="legs" value="<%=animal.legs%>"> </p>
      <p> <input type="submit" value="update"></p>
    </form>
  </body>
</html>
