<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <h1>Welcome to Quoting</h1>
    <form action="/quotes" method="post">
      <p>Your name:</p>
      <p> <input type="text" name="name"> </p>
      <p>Your quote:</p>
      <p> <textarea name="quote" rows="8" cols="80"></textarea> </p>
      <p> <input type="submit" value="submit"> </p>
    </form>
  </body>
</html>
